<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>商品列表</title>
    <link href="../../static/css/base.css" rel="stylesheet">
    <link href="../../static/css/index.css" rel="stylesheet">
</head>
<body>
<div>
    <h2 align="center">商品列表</h2>
   <a class="el-button el-button--primary el-button--small" href="{% url 'app:add_product' %}">添加商品</a><br><br>
</div>
<div>
<table align="left">
<thead>
<tr>
    <th>商品ID</th>
    <th>商品名称</th>
    <th>商品价格</th>
    <th>商品描述</th>
    <th>操作</th>
</tr>
</thead>
{% if response %}
        {% for p in response %}
        <tr>
            <td>{{ p.product_id }}</td>
            <td>{{ p.product_name }}</td>
            <td>{{ p.product_price }}</td>
            <td>{{ p.product_description }}</td>
            <td>
                <a class="el-button el-button--default el-button--small" href="{% url 'app:product_details' p.id %}">商品详情</a>
                <a class="el-button el-button--default el-button--small" href="{% url 'app:product_details' p.id %}">编辑商品</a>
                <a class="el-button el-button--default el-button--small" href="{% url 'app:product_details' p.id %}">删除商品</a>

            </td>
        </tr>
    {% endfor %}
{% else %}
    <p>No app are available.</p>
{% endif %}
</table>
</div>
</body>
</html>